.mContainer{
    display: flex;
}
.leftContainer{
    background-color: plum;
    color: white;
    width:30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.rightContainer{
    
    flex-direction: column;
    display: flex;
    width:70%;
}
.leftContainer a{
    color: white;
    text-decoration: none;
    margin:20px auto;
}